<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.krkim.nov081.fruit.FruitMapper">
	<select id="getAllFruit" resultType="com.krkim.nov081.fruit.Fruit">
		select * from nov08_fruit order by f_price
	</select>
</mapper>